.layout {
  padding: 0.8rem 2rem;
  min-width: 25vw;
  background-color: var(--color-grey-light-1);
  border-radius: 3rem;
  transition: all 0.2s ease-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
}

@media only screen and (max-width: 56.25em) {
  .layout {
    width: 50%;
  }
}

.layout input {
  border: none;
  background-color: transparent;
  width: 100%;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  caret-color: var(--color-primary);
}

.svg {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg svg {
  fill: var(--color-grey-dark-2);
  transition: all 0.2s ease-out;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.layout svg:hover {
  fill: var(--color-primary-light);
}

.layout:focus-within {
  box-shadow: 0 0.1rem 0.5rem rgba(0, 61, 42, 0.25);
}
