@import url("https://fonts.googleapis.com/css2?family=REM:wght@400;500;700&display=swap");

:root {
  font-size: 62.5%;
  box-sizing: border-box;

  --color-primary: #003d2a;
  --color-primary-light: #28b328;

  --color-secondary: #fbf0e4;
  --color-secondary-dark: #ff730e;

  --color-grey-dark-1: #242424;
  --color-grey-dark-1__5: #525252;
  --color-grey-dark-2: #747474;

  --color-black: #111111;
  --color-white: #fcfcfc;

  --color-grey-light-1: #f5f6f6;
  --color-grey-light-2: #e6e6e6;
}

@media only screen and (max-width: 75em) {
  :root {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  :root {
    font-size: 50%;
  }
}

@media only screen and (max-width: 37.5em) {
  :root {
    font-size: 40.63%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "REM", sans-serif;
  color: var(--color-grey-dark-1);
  fill: var(--color-grey-dark-1);
  height: 100vh;
  width: 100%;
  cursor: default;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background-image: linear-gradient(
    to bottom,
    var(--color-primary),
    transparent
  );
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-light);
  box-shadow: inset 0.6rem 0 0 transparent;
  border-radius: 1.5rem;
}

::selection {
  background-color: var(--color-primary-light);
}
