.container {
  width: 100%;
  height: 100%;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  width: 8rem;
  height: 8rem;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  motion-path: path(
    "M25 50c-3.458 0-6.708-.657-9.75-1.97s-5.688-3.094-7.938-5.343c-2.25-2.25-4.03-4.895-5.342-7.937C.658 31.708.002 28.458 0 25c0-3.458.657-6.708 1.97-9.75s3.094-5.688 5.343-7.938c2.25-2.25 4.895-4.03 7.937-5.342C18.292.658 21.542.002 25 0c3.458 0 6.708.657 9.75 1.97s5.688 3.094 7.938 5.343c2.25 2.25 4.031 4.895 5.344 7.937 1.314 3.042 1.97 6.292 1.968 9.75 0 3.458-.657 6.708-1.97 9.75s-3.094 5.688-5.343 7.938c-2.25 2.25-4.895 4.031-7.937 5.344-3.042 1.314-6.292 1.97-9.75 1.968Z"
  );
  offset-path: path(
    "M25 50c-3.458 0-6.708-.657-9.75-1.97s-5.688-3.094-7.938-5.343c-2.25-2.25-4.03-4.895-5.342-7.937C.658 31.708.002 28.458 0 25c0-3.458.657-6.708 1.97-9.75s3.094-5.688 5.343-7.938c2.25-2.25 4.895-4.03 7.937-5.342C18.292.658 21.542.002 25 0c3.458 0 6.708.657 9.75 1.97s5.688 3.094 7.938 5.343c2.25 2.25 4.031 4.895 5.344 7.937 1.314 3.042 1.97 6.292 1.968 9.75 0 3.458-.657 6.708-1.97 9.75s-3.094 5.688-5.343 7.938c-2.25 2.25-4.895 4.031-7.937 5.344-3.042 1.314-6.292 1.97-9.75 1.968Z"
  );
  offset-rotate: 0deg;
  animation: move 3s linear infinite;
  background-image: radial-gradient(
    circle farthest-corner at top left,
    var(--color-secondary) 40%,
    var(--color-secondary-dark) 120%
  );
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

.loader--medium {
  position: absolute;
  height: 2rem;
  width: 2rem;
  background: var(--color-secondary-dark);

  motion-path: path(
    "M40 80c-5.533 0-10.733-1.05-15.6-3.152-4.867-2.101-9.1-4.95-12.7-8.548-3.6-3.6-6.45-7.833-8.548-12.7C1.053 50.733.002 45.533 0 40c0-5.533 1.05-10.733 3.152-15.6 2.101-4.867 4.95-9.1 8.548-12.7 3.6-3.6 7.833-6.45 12.7-8.548C29.267 1.053 34.467.002 40 0c5.533 0 10.733 1.05 15.6 3.152 4.867 2.101 9.1 4.95 12.7 8.548 3.6 3.6 6.45 7.833 8.552 12.7C78.953 29.267 80.002 34.467 80 40c0 5.533-1.05 10.733-3.152 15.6-2.101 4.867-4.95 9.1-8.548 12.7-3.6 3.6-7.833 6.45-12.7 8.552C50.733 78.953 45.533 80.002 40 80Z"
  );
  offset-path: path(
    "M40 80c-5.533 0-10.733-1.05-15.6-3.152-4.867-2.101-9.1-4.95-12.7-8.548-3.6-3.6-6.45-7.833-8.548-12.7C1.053 50.733.002 45.533 0 40c0-5.533 1.05-10.733 3.152-15.6 2.101-4.867 4.95-9.1 8.548-12.7 3.6-3.6 7.833-6.45 12.7-8.548C29.267 1.053 34.467.002 40 0c5.533 0 10.733 1.05 15.6 3.152 4.867 2.101 9.1 4.95 12.7 8.548 3.6 3.6 6.45 7.833 8.552 12.7C78.953 29.267 80.002 34.467 80 40c0 5.533-1.05 10.733-3.152 15.6-2.101 4.867-4.95 9.1-8.548 12.7-3.6 3.6-7.833 6.45-12.7 8.552C50.733 78.953 45.533 80.002 40 80Z"
  );

  animation: move 3s linear infinite;
}

@keyframes move {
  100% {
    motion-offset: 100%;
    offset-distance: 100%;
  }
}
